.section * {
  max-width: 100%;
  box-sizing: border-box;
}

.section {
  max-width: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--light-green);
  color: var(--coal);
}

.container {
  display: flex;
  max-width: 1440px;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
}

.title {
  padding: scale(125px) scale(176px) 0 50%;
  margin: 0;

  @mixin headline;
  @mixin headline2;

  @media (max-width: $tablet-portrait) {
    padding: scale(125px) scale(176px) 0 6%;
  }
}

.yearsContainer {
  padding-top: (46.5px);

  @media (max-width: $tablet-portrait) {
    padding: scale(36.5px) scale(23px) 0;
    margin: 0 auto;
  }
}

.cardContainer {
  display: grid;
  max-width: 1440px;
  box-sizing: border-box;
  padding: scale(54px) scale(210px) 0;
  margin: 0 auto;
  gap: scale(48px) scale(30px);
  grid-template-columns: repeat(auto-fit, minmax(scale(180px), scale(180px)));
}

.infoBlock {
  position: relative;
  padding-bottom: scale(259px);
  margin: scale(69px) 0 0 scale(213px);

  @media (max-width: $tablet-portrait) {
    padding-bottom: scale(250px);
    margin: scale(69px) scale(22px) 0 6.5vw;
  }
}

.asterisk {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.info {
  position: absolute;
  top: scale(25px);
  left: scale(25px);
  max-width: 426px;
  margin: 0;

  @mixin textLarge;
}
